
.custom{
    width: 260px;
    display: flex; 
}
.item{
    
    border-radius: 10px;
    width: 260px;
    height: 300px;
    background-position: left;
    transition: 2s ease-in-out;
    background: #000; 
}
.item1 {
    background: url(/carousel/full.png);
    background-size: cover;
}

.item:hover{ 
    background-position: right;
}
 
